name: Deploy to Production

on:
  workflow_run:
    workflows:
      - Deploy Image to Registry
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Production
        uses: appleboy/ssh-action@master
        with:
          host: 37.27.112.167
          username: ubuntu
          key: ${{ secrets.TDW_PRIVATE_KEY }}
          command_timeout: 5m
          script: |
            pwd
