name: Verify PR

on:
  pull_request:
    branches: [ "main" ]

jobs:
  verify-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.TDW_PRIVATE_KEY }}

      - name: Verify Docker Build
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          ssh: |
            trades-warehouse=${{ env.SSH_AUTH_SOCK }}
